:root {
    --f1: 'Open Sans', sans-serif;
    --f2: 'Oswald', sans-serif;
    --f3: 'Myriad Pro', sans-serif;
    --bc: #0872b9;
    --bc2: #f1f1f1;
    --tc: #353535;
    --tc2: #555555;
}

.mr17 {
    margin-left: 20px;
}

.mr16 {
    margin-bottom: 16px;
}

.mrlr {
    margin-left: 20px;
    margin-right: 20px;
}

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.full-wrapper {
    width: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
}


/*end*/

.title {
    background: var(--bc);
    padding-top: 12px;
    padding-bottom: 10px;
}

.title .content .pone {
    width: 50%;
    float: left;
}

.title .content .pone p {
    font-family: var(--f1);
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.title .content .ptwo {
    width: 50%;
    float: right;
}

.title .content .ptwo ul {
    float: right;
}

.title .content .ptwo ul li {
    float: left;
}

.title .content .ptwo ul li i {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.title .content .ptwo ul li:hover i {
    color: #353535;
}

.menubg .menu .logo {
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

.menubg .menu .list {
    width: 80%;
    float: left;
}

.menubg .menu .list ul {
    float: right;
}

.menubg .menu .list ul li {
    float: left;
    padding-left: 16px;
    padding-top: 34px;
    padding-bottom: 33px;
}

.menubg .menu .list ul li a {
    color: var(--tc);
    font-family: var(--f3);
    font-weight: 400;
    font-size: 14px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.menubg .menu .list ul li:hover a {
    color: var(--bc);
}

.bannerbg {
    background: url(../images/C.1.png) no-repeat center / cover;
    padding-top: 76px;
    padding-bottom: 87px;
    position: relative;
    z-index: 1;
}

.bannerbg::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bannerbg .banner .text {
    text-align: right;
}

.bannerbg .banner .text h2 {
    font-family: var(--f2);
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -10px;
}

.bannerbg .banner .text h3 {
    font-family: var(--f2);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.bannerbg .banner .text p {
    padding-left: 480px;
    font-family: var(--f1);
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    margin-top: 2px;
    margin-bottom: 24px;
}

.bannerbg .banner .text a {
    margin-left: 20px;
    color: #fff;
    font-family: var(--f2);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.bannerbg .banner .text a::before {
    content: '';
    width: 0%;
    height: 100%;
    background: var(--bc);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.bannerbg .banner .text a:hover {
    border-color: var(--bc);
}

.bannerbg .banner .text a:hover::before {
    width: 100%;
}

h4 {
    text-align: center;
    font-family: var(--f2);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}

.line {
    margin-top: -16px;
    margin-left: 50%;
    transform: translatex(-10%);
    padding-bottom: 68px;
}

.line .li {
    display: inline-block;
    background-color: var(--bc);
    width: 47px;
    height: 1px;
}

.line .lii {
    display: inline-block;
    background-color: var(--bc);
    width: 3px;
    height: 1px;
}

.line .liii {
    display: inline-block;
    background-color: var(--bc);
    width: 2px;
    height: 1px;
}

.line .liv {
    display: inline-block;
    background-color: var(--bc);
    width: 1px;
    height: 1px;
}

.about .ac {
    padding-top: 15px;
}

.about .ac .aboutpic {
    float: left;
    width: 380px;
    padding-right: 20px;
}

.about .ac .abouttext {
    float: left;
    width: 540px;
    font-family: var(--f1);
    font-size: 13px;
    font-weight: 400;
    color: var(--tc2);
}

.about .ac .abouttext p:first-of-type {
    margin-top: 45px;
    margin-bottom: 40px;
}

.service .servicec .line {
    margin-left: 48.2%;
}

.sdetail .detail .b {
    width: 300px;
    text-align: center;
    background-color: var(--bc2);
    position: relative;
    float: left;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.sdetail .detail .b:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.sdetail .detail .b:hover .spiii {
    background: #5bc5f4;
}

.spi {
    width: 81px;
    height: 81px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-sizing: border-box;
}

.spii {
    width: 75px;
    height: 75px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

.spiii {
    width: 70px;
    height: 70px;
    background-color: var(--bc2);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all linear 0.4s;
}

.spiii img {
    transform: translateX(50%);
    transform: translateY(35%);
}

h5 {
    font-family: var(--f2);
    color: var(--tc2);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding-top: 45px;
}

.intro {
    font-family: var(--f1);
    color: var(--tc);
    font-weight: 500;
    font-size: 13px;
    padding: 5px 20px 20px;
    line-height: 24px;
    text-align: center;
}

.port .portc .line {
    margin-left: 47.4%;
}

.gallery .galleryc .cl {
    float: left;
}

.gallery .galleryc .cl .item {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery .galleryc .cl .item .over {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -100%;
    left: 0;
    transition: all linear 0.4s;
}

.gallery .galleryc .cl .item:hover .over {
    top: 0;
}

.gallery .galleryc .cl .item .over i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #5bc5f4;
    border-radius: 50%;
}

.gallery .galleryc .cl .item .over .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mem .memc .t {
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

.mem .memc .t:last-of-type {
    margin-right: 0;
}

.mem .memc .t .part {
    position: relative;
    overflow: hidden;
}

.mem .memc .t .part .ovr {
    width: 80px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: -80px;
    transition: all linear 0.4s;
}

.mem .memc .t .part .ovr ul {
    margin-top: 35px;
    margin-left: 20px;
}

.mem .memc .t .part .ovr ul li a i {
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all linear 0.4s;
}

.mem .memc .t .part:hover .ovr {
    right: 0;
}

.mem .memc .t .part .ovr ul li:hover a i {
    background: #5bc5f4;
    border-color: #5bc5f4;
}

.mem .memc .t h5 {
    text-align: center;
    padding-top: 6px;
    transition: all linear 0.4s;
}

.mem .memc .t:hover h5 {
    color: #5bc5f4;
}

.jtitle {
    font-family: var(--f2);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.test .testm .line {
    margin-left: 49%;
}

.testd .tdc .box img {
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translateX(-50%);
}

.testd .tdc .box .sp {
    width: 25px;
    height: 25px;
    background-color: var(--bc2);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 1;
}

.testd .tdc .box {
    width: 460px;
    background-color: var(--bc2);
    align-content: center;
    float: left;
    margin-top: 70px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.testd .tdc .box:last-of-type {
    margin-right: 0;
}

.box h5 {
    padding-top: 20px;
}

.rate {
    text-align: center;
}

.rate a i {
    text-align: center;
    color: var(--bc);
}

.jtitle {
    font-size: 13px;
    color: var(--tc2);
}

.disc {
    font-family: var(--f2);
    color: var(--tc2);
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding: 10px 5px 20px;
}

.end {
    margin-top: 60px;
    background-color: var(--tc);
}

.end .endc {
    box-sizing: border-box;
}

.end .endc .column {
    float: left;
    margin-left: 18px;
    margin-bottom: 22px;
}

.end .endc .column img {
    padding-top: 20px;
}

.end .endc .column p {
    padding-top: 30px;
    width: 225px;
    font-family: var(--f1);
    font-weight: 400;
    font-size: 13px;
    color: white;
}

.end .endc .column a {
    color: white;
}

.end .endc .column h5 {
    color: #fff;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 30px;
}

.end .endc .column i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end .endc .column .shape {
    width: 35px;
    height: 35px;
    background-color: #5bc5f4;
    border-radius: 50%;
    position: relative;
}

.end .endc .column .c {
    padding-bottom: 20px;
}

.end .endc .column .c a {
    display: block;
    margin-left: 43px;
    color: white;
    font-family: var(--f1);
    font-weight: 400;
    font-size: 13px;
}

.end .endc .column .c .cont {
    margin-top: -37px;
}

.end .endc .column ul li:hover a {
    color: #5bc5f4;
}

.end .endc .column ul {
    float: left;
    color: white;
    text-transform: capitalize;
    font-family: var(--f1);
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    margin-top: -15px;
}

.end .endc .column ul li a {
    transition: all linear 0.4s;
}

.end .endc .column .coll {
    float: left;
}

.end .endc .column:first-of-type {
    margin-left: 0;
}

.end .endc .column .coll {
    margin-right: 15px;
    margin-top: -20px;
}

.end .endc .column .coll:last-of-type {
    margin-right: 0;
}

.end .endc .column .coll img {
    display: block;
}

.lastbar {
    background-color: var(--tc2);
}

.text {
    font-family: var(--f1);
    font-weight: 400;
    font-size: 13;
    text-align: center;
    padding: 15px;
    color: white;
}

.text a {
    color: white;
}

.text:hover .uni {
    color: #5bc5f4;
    text-decoration: underline;
}